<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>服务详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pro.css?embed" />
    <link rel="stylesheet" type="text/css" href = "/stylesheets/head.css">

    <style>


        .lines{
            border-left: 1px solid #B7D0E4;
            display: inline-block;
            margin-left: -1px;
            padding: 0px 0px 0px 3px;
        }

    </style>

    <script>
        function onBridgeReady(){
            WeixinJSBridge.call('hideOptionMenu');
            WeixinJSBridge.call('hideToolbar');
        }

        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        }else{
            onBridgeReady();

        }

    </script>
    <script>
        $().ready(function(){
            $(".ui-page-content").swipeRight(function(){
                history.back();
            })

        })
    </script>
</head>
<body class="ui-app">
<div class="ui-top-bar js-no-bounce">

    <div class="ui-tab page1 js-active">
        <div class="header" id="header">
            <a class="back" href="javascript:history.back();"></a>
            <span class="headline">服务描述</span>
        </div>

    </div>
</div>

<div class="ui-page-content">
    <!-- 主体内容 -->
    <ul class="ui-list ">

        <img src="/images/bac6.jpg" width="100%" height="65px">

        <%if(code==0){%>

        <li  class="ui-item">
            <div >
                <a href="weixin://viewimage/<%-serviceImageAtt%>">
                    <img src="<%-serviceImageAtt%>" width="%94">
                </a>
                <p>&nbsp;</p>
                <%- servDes.replace(/<\/p>/g,"</p><p>&nbsp;</p>")%>
            </div>
        </li>
        <p>
            &nbsp;
        </p>
    </ul>


    <%}%>
    <%if(code!=0){%>
    <img src="/images/bac5.jpg">
    <%}%>

</div>


</body>
</html>
