<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>转发送红包</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pro.css?embed" />
    <link rel="stylesheet" type="text/css" href="/vendor/ionicons/css/ionicons.css" />
    <style>
        .my-banner {
            margin-bottom: 20px;
            padding: 10px 12px;
            background-color: #FF9937;
            height: 85px;
            color: #ffffff
        }
        .my-banner-text {
            display: block;
        }
        .my-banner-count {
            font-size: 40px;
            -webkit-transform: translate3d(0, 0, 0);
        }
        .my-banner-unit {
            font-size: 20px;
        }

        .my-item-left{
            position: absolute;
            border: 1px solid #ccc;
            border-radius: 4px;
            background: #eee;
            height: 60px;
            width: 60px;
            padding: 8px 6px;
            font-size: 12px;
            line-height: 12px;
        }

        .my-item-count {
            font-size: 30px;
            line-height: 30px;
        }

        .my-item-right {
            margin-left: 70px;
        }

        .my-item-right p {
            font-size: 14px;
        }

        .my-deletable {
            z-index: 2;
            background: #fff;
        }

        .my-delete {
            height: 80px;
            line-height: 80px;
            width: 60px;
            text-align: center;
            position: absolute;
            top:0;
            right: 0;
            background: rgb(250, 34, 34);
            z-index: 1;
            color: #fff;
        }

        [data-lazy] {
            display: block;
            margin: 10px auto;
            height: 120px;
            width: 240px;
            border: 1px solid #eee;
        }

    </style>

</head>
<body class="ui-app">


<div class="ui-bottom-bar js-no-bounce js-active"  role="toolbar" id = "buy" > <!-- tabindex="0" 在android上会触发一个高亮边框 -->

    <a class="ui-bottom-bar-button" role="button" data-toggle="tab" data-target=".page1">
        <span class="ui-icon ion-ios7-plus"></span>
        <span class="ui-label">￥600/次</span>
    </a>
    <a class="ui-bottom-bar-button js-active" role="button" data-toggle="tab" data-target=".page2">
        <span class="ui-icon ion-star"></span>
        <span class="ui-label ui-red">购买</span>
    </a>

    <!-- /尾部内容-->
</div>

<!-- 一个App可以多个page -->
<div class="ui-page page1 js-active">

    <div class="ui-page-content">
        <!-- 主体内容 -->




            <ul class="ui-list ">
                <li>
                    <div class="ui-tab js-active" id="page1-tab1" role="tabpanel">
                        <div class="ui-carousel js-slide" data-ride="carousel">
                            <ol class="ui-carousel-indicators">
                                <li class="js-active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ol>
                            <div class="ui-carousel-inner">
                                <div class="ui-carousel-item js-active">
                                    <img width="100%" src="http://www.51ztzj.com/upload/image/20131227/dn201312274001_1366x768.jpg">
                                </div>
                                <div class="ui-carousel-item">
                                    <img width="100%" src="http://lorempixel.com/640/300/sports/2/">
                                </div>
                                <div class="ui-carousel-item">
                                    <img width="100%" src="http://lorempixel.com/640/300/sports/3/">
                                </div>
                                <div class="ui-carousel-item">
                                    <img width="100%" src="http://lorempixel.com/640/300/sports/4/">
                                </div>
                            </div>
                        </div>
                     </div>
                </li>
                <li class="ui-item "><a><h3>专业推广500年</h3><span class="ui-right"></span> </a>
                    <a class="ui-gray">提供：创客汇南京<span class="ui-right"></span> </a>
                    <a class="ui-red">库存：10<span class="ui-right"></span> </a>
                </li>
                 <li class="ui-item">
                     <a class="ui-gray">不提供发票<span class="ui-right">服务地点：线上</span> </a>
                     <a class="ui-gray">服务截止时间: 2014-12-20 18:00:00<span class="ui-right"></span> </a>
                </li>

            </ul>



            <ul class="ui-list">

                <li class="ui-item arrow-right"><a>服务描述<span class="ui-right"></span> </a></li>
                <li class="ui-item arrow-right"><a>提供者详情<span class="ui-right"></span> </a></li>

            </ul>
        </div>

    </div>


</div>





<script data-main="/js/mobile" src="/js/require.js"></script>

</body>
</html>
